PORT = 8002
MONGO_URI = mongodb://localhost:27017/church
FRONTEND_URL ="https://eccespritetvie.com/"

SUPABASE_JWT_SECRET=LLdqkqwdENiDjfXI+ryrnmj4k7Dw3mXeo1Kd2zILK2QGtWwOcEUKsZ9Ze7wF4u36/w60TQ2BBGbBdeEDSA5/6w==